
.calculatorContainer{ 
    margin: 2%;
    padding: 2px;
    background-color: khaki;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}