.disp{ 
    height: 80px;
    width: 400px;
    background-color: white;
    margin: 20px;
    border: 2px solid black;
    border-radius: 20px;
}
.textDisplay{ 
    width: 100%;
    height: 50%;
    margin: 5px;
    font-size: large;
}

.ans{ 
    width: 100%;
    height: 50%;
    margin: 5px;
    font-size: larger;
}